<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | Calvary Chapel Southside</title>

    <meta name="keywords" content="jesus christ st pete petersbug fl florida southside">
    <meta name="description" content="Calvary Chapel Southside is a non-denominational, come as you are ministry in St Petersburg, FL. We have a heart to impact the surrounding area with the love of Jesus Christ.">
    <meta name="viewport" content="width=device-width">
    
    <!-- the strap of the boot -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- custom styles -->
    @Styles.Render("~/bundles/css")
    @RenderSection("PageCss", false)

    <script src="/assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    @*
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
    *@
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand img-responsive" href="/">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("NavigationPartial")
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>


    @RenderBody()

    @Html.Partial("FooterPartial")

    <!-- Javascript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery||document.write('<script src="/assets/js/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
    @RenderSection("Javascript", false)

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        @Html.Partial("AnalyticsPartial")
    }
</body>
</html>
