<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title | Calvary Chapel Southside</title>

    @Html.Partial("MetaTags")

    <!-- the strap of the boot -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- custom styles -->
    @Styles.Render("~/bundles/css")
    @RenderSection("PageCss", false)

    @*
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
    *@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand img-responsive" href="/">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("NavigationPartial")
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>


    @RenderBody()

    @Html.Partial("FooterPartial")

    <!-- Javascript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery||document.write('<script src="/assets/js/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    @RenderSection("Javascript", false)

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        @Html.Partial("AnalyticsPartial")
    }
</body>
</html>
