@helper NavigationLink(string pageName, string url, string controller = "")
{
    var currentController = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    <li class="@(!string.IsNullOrEmpty(controller) && controller.Equals(currentController, StringComparison.InvariantCultureIgnoreCase) ? "active" : string.Empty)">
        <a href="@url">@pageName</a>
    </li>
}

@helper EmailLink(string emailAddress, bool icon = false)
{
    <a href="mailto:@emailAddress.ToLower()">@if (icon) { <span class="fa fa-envelope"></span> }@emailAddress</a>
}

@helper PhoneNumber(string phoneNumber, bool icon = false)
{
    <a href="@THREE17.Core.Helpers.StringHelper.PhoneNumberLink(phoneNumber)">
        @if (icon) { <span class="fa fa-phone"></span> }
        @THREE17.Core.Helpers.StringHelper.FormatPhoneNumber(phoneNumber)
    </a>
}

@helper MapThumbnail()
{
    <div id="map_thumbnail">
        <a href="@CalvarySouthside.ConfigurationHelper.GoogleMapsUrl"><span>Get Directions <i class="fa fa-location-arrow"></i></span></a>
    </div>
}